In [29]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [30]:
trump = '/data/parush/stance_mohammed/trump.txt'

In [31]:
df = pd.read_csv(trump, sep="\t")
X = df[['ID','Target','Tweet']]
y = df[['Stance']]

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42, shuffle=True,stratify = y)

In [38]:
X_train['Stance'] = y_train
X_test['Stance'] = y_test

/tmp/ipykernel_1808/146420061.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Stance'] = y_train
/tmp/ipykernel_1808/146420061.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Stance'] = y_test

In [40]:
X_train

,ID,Target,Tweet,Stance
442,20443,Donald Trump,Today & everyday I am proud to be an American....,AGAINST
489,20490,Donald Trump,I feel like the 2016 Presidential race is @rea...,FAVOR
192,20193,Donald Trump,"Holy shit ,the @realDonaldTrump is one looney ...",AGAINST
692,20693,Donald Trump,@moonlightnstars @RichardFLopes @edmontalbans ...,NONE
425,20426,Donald Trump,NASCAR abandons Trump. Some good news to end m...,AGAINST
...,...,...,...,...
188,20189,Donald Trump,Donald Trump is in dire need of a crisis commu...,AGAINST
670,20671,Donald Trump,And America wants to protest a silly flag but ...,NONE
420,20421,Donald Trump,"@realDonaldTrump has formed the ""Racistublican...",AGAINST
256,20257,Donald Trump,The #Obama Presidency: Has There Ever a Point ...,AGAINST
702,20703,Donald Trump,@realDonaldTrump we all want you as the next p...,FAVOR

In [41]:
train_data_file_m = '/data/parush/stance_mohammed/train.txt'
test_data_file_m = '/data/parush/stance_mohammed/test.txt'

In [42]:
df_train = pd.read_csv(train_data_file_m, sep="\t")

In [43]:
df_train

,ID,Target,Tweet,Stance,Opinion towards,Sentiment
0,1,Hillary Clinton,"@tedcruz And, #HandOverTheServer she wiped cle...",AGAINST,TARGET,NEGATIVE
1,2,Hillary Clinton,Hillary is our best choice if we truly want to...,FAVOR,TARGET,POSITIVE
2,3,Hillary Clinton,@TheView I think our country is ready for a fe...,AGAINST,TARGET,NEGATIVE
3,4,Hillary Clinton,I just gave an unhealthy amount of my hard-ear...,AGAINST,TARGET,NEGATIVE
4,5,Hillary Clinton,@PortiaABoulger Thank you for adding me to you...,NONE,NO ONE,POSITIVE
...,...,...,...,...,...,...
2909,2910,Legalization of Abortion,"There's a law protecting unborn eagles, but no...",AGAINST,TARGET,NEGATIVE
2910,2911,Legalization of Abortion,I am 1 in 3... I have had an abortion #Abortio...,AGAINST,OTHER,NEITHER
2911,2912,Legalization of Abortion,How dare you say my sexual preference is a cho...,AGAINST,OTHER,NEGATIVE
2912,2913,Legalization of Abortion,"Equal rights for those 'born that way', no rig...",AGAINST,OTHER,NEGATIVE
2913,2914,Legalization of Abortion,#POTUS seals his legacy w/ 1/2 doz wins. The #...,AGAINST,OTHER,NEGATIVE

In [44]:
df_train = pd.concat([df_train, X_train], ignore_index=True)
df_train

,ID,Target,Tweet,Stance,Opinion towards,Sentiment
0,1,Hillary Clinton,"@tedcruz And, #HandOverTheServer she wiped cle...",AGAINST,TARGET,NEGATIVE
1,2,Hillary Clinton,Hillary is our best choice if we truly want to...,FAVOR,TARGET,POSITIVE
2,3,Hillary Clinton,@TheView I think our country is ready for a fe...,AGAINST,TARGET,NEGATIVE
3,4,Hillary Clinton,I just gave an unhealthy amount of my hard-ear...,AGAINST,TARGET,NEGATIVE
4,5,Hillary Clinton,@PortiaABoulger Thank you for adding me to you...,NONE,NO ONE,POSITIVE
...,...,...,...,...,...,...
3439,20189,Donald Trump,Donald Trump is in dire need of a crisis commu...,AGAINST,NaN,NaN
3440,20671,Donald Trump,And America wants to protest a silly flag but ...,NONE,NaN,NaN
3441,20421,Donald Trump,"@realDonaldTrump has formed the ""Racistublican...",AGAINST,NaN,NaN
3442,20257,Donald Trump,The #Obama Presidency: Has There Ever a Point ...,AGAINST,NaN,NaN
3443,20703,Donald Trump,@realDonaldTrump we all want you as the next p...,FAVOR,NaN,NaN

In [45]:
df_test = pd.read_csv(test_data_file_m, sep="\t")
df_test

,ID,Target,Tweet,Stance,Opinion towards,Sentiment
0,10001,Atheism,He who exalts himself shall be humbled; a...,AGAINST,TARGET,POSITIVE
1,10002,Atheism,RT @prayerbullets: I remove Nehushtan -previou...,AGAINST,TARGET,NEITHER
2,10003,Atheism,@Brainman365 @heidtjj @BenjaminLives I have so...,AGAINST,TARGET,POSITIVE
3,10004,Atheism,#God is utterly powerless without Human interv...,AGAINST,TARGET,NEGATIVE
4,10005,Atheism,@David_Cameron Miracles of #Multiculturalism...,AGAINST,OTHER,NEGATIVE
...,...,...,...,...,...,...
1244,11245,Legalization of Abortion,@MetalheadMonty @tom_six I followed him before...,NONE,OTHER,NEGATIVE
1245,11246,Legalization of Abortion,"For he who avenges blood remembers, he does no...",AGAINST,TARGET,NEITHER
1246,11247,Legalization of Abortion,Life is sacred on all levels. Abortion does no...,AGAINST,TARGET,NEITHER
1247,11248,Legalization of Abortion,"@ravensymone U refer to ""WE"" which =""YOU"" & a ...",AGAINST,TARGET,NEGATIVE
1248,11249,Legalization of Abortion,Al Robertson's mom #DuckDynasty chose life as...,AGAINST,TARGET,NEITHER

In [46]:
X_test

,ID,Target,Tweet,Stance
128,20129,Donald Trump,@chriswallace There may be 2000 nutjobs of tha...,NONE
533,20534,Donald Trump,@realDonaldTrump u talk a big bigoted talk & y...,AGAINST
608,20609,Donald Trump,@ac360 @ananavarro @andersoncooper #AC360 HECK...,FAVOR
700,20701,Donald Trump,Watching what Donald Trump said about Mexicans...,AGAINST
534,20535,Donald Trump,Are people deaf to the word illegal? I'm all ...,NONE
...,...,...,...,...
133,20134,Donald Trump,Everybody get on the Trump Train!! It's a Firs...,FAVOR
119,20120,Donald Trump,"For the record, as a #Latino, (#Peruvian to be...",AGAINST
352,20353,Donald Trump,"If there was such a thing as the ""American"" Hi...",AGAINST
193,20194,Donald Trump,I write separately to call attention to this C...,NONE
12,20013,Donald Trump,Considering the fact that Bush was a president...,FAVOR

In [47]:
df_test = pd.concat([df_test, X_test], ignore_index=True)
df_test

,ID,Target,Tweet,Stance,Opinion towards,Sentiment
0,10001,Atheism,He who exalts himself shall be humbled; a...,AGAINST,TARGET,POSITIVE
1,10002,Atheism,RT @prayerbullets: I remove Nehushtan -previou...,AGAINST,TARGET,NEITHER
2,10003,Atheism,@Brainman365 @heidtjj @BenjaminLives I have so...,AGAINST,TARGET,POSITIVE
3,10004,Atheism,#God is utterly powerless without Human interv...,AGAINST,TARGET,NEGATIVE
4,10005,Atheism,@David_Cameron Miracles of #Multiculturalism...,AGAINST,OTHER,NEGATIVE
...,...,...,...,...,...,...
1421,20134,Donald Trump,Everybody get on the Trump Train!! It's a Firs...,FAVOR,NaN,NaN
1422,20120,Donald Trump,"For the record, as a #Latino, (#Peruvian to be...",AGAINST,NaN,NaN
1423,20353,Donald Trump,"If there was such a thing as the ""American"" Hi...",AGAINST,NaN,NaN
1424,20194,Donald Trump,I write separately to call attention to this C...,NONE,NaN,NaN
1425,20013,Donald Trump,Considering the fact that Bush was a president...,FAVOR,NaN,NaN

In [53]:
df_train.to_csv('/data/parush/stance_mohammed/new_train.txt', index=False, sep='\t')
df_test.to_csv('/data/parush/stance_mohammed/new_test.txt', index=False, sep='\t')

In [54]:
train_data_file_m = '/data/parush/stance_mohammed/new_train.txt'
test_data_file_m = '/data/parush/stance_mohammed/new_test.txt'

In [58]:
df_new = pd.read_csv(test_data_file_m, sep="\t")
df_new

,ID,Target,Tweet,Stance,Opinion towards,Sentiment
0,10001,Atheism,He who exalts himself shall be humbled; a...,AGAINST,TARGET,POSITIVE
1,10002,Atheism,RT @prayerbullets: I remove Nehushtan -previou...,AGAINST,TARGET,NEITHER
2,10003,Atheism,@Brainman365 @heidtjj @BenjaminLives I have so...,AGAINST,TARGET,POSITIVE
3,10004,Atheism,#God is utterly powerless without Human interv...,AGAINST,TARGET,NEGATIVE
4,10005,Atheism,@David_Cameron Miracles of #Multiculturalism...,AGAINST,OTHER,NEGATIVE
...,...,...,...,...,...,...
1421,20134,Donald Trump,Everybody get on the Trump Train!! It's a Firs...,FAVOR,NaN,NaN
1422,20120,Donald Trump,"For the record, as a #Latino, (#Peruvian to be...",AGAINST,NaN,NaN
1423,20353,Donald Trump,"If there was such a thing as the ""American"" Hi...",AGAINST,NaN,NaN
1424,20194,Donald Trump,I write separately to call attention to this C...,NONE,NaN,NaN
1425,20013,Donald Trump,Considering the fact that Bush was a president...,FAVOR,NaN,NaN

In [60]:
np.unique(df_new['Stance'])

array(['AGAINST', 'FAVOR', 'NONE'], dtype=object)

In [75]:
t = []
s = []

In [76]:
with open(test_data_file_m, 'r') as trainfile:
    for line in trainfile: 
        line = line.replace('#SemST', '').strip()
        line = line.split('\t')
        if line[0].strip() != 'ID':
            s.append(line[3])
            t.append(line[1])

In [78]:
np.unique(s)

array(['AGAINST', 'FAVOR', 'NONE'], dtype='<U7')